<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <% if (orders.length <= 0 ) { %>
            <h1>
                Nothhing There..!!!!!!!
            </h1>
        <% } else { %>
            <ul class="orders">
                <% orders.forEach(order => { %>
                <li class="orders_item">
                    <h1># <%= order._id %></h1>
                    <ul class="orders_product">
                         <% order.products.forEach(p => { %>
                            <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                        <% }); %>
                    </ul>
                </li>    
                <% }); %>
            </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>